<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Professores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let professor of data?.professores" (click)="detalhesProfessor(professor)">
    <ion-card-header>
        <ion-card-title>{{professor.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{professor.curriculo}}</p>
    </ion-card-content>
  </ion-list>
  
</ion-content>
